body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  background-color: #1f1f1f;
}
#popup-container {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 5;
  width: 300px;
}

#popup-container .popup {
  z-index: 5;
  padding: 20px 20px 20px 40px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 5px;
  background-size: 20px;
  background-position: 5% center;
  background-repeat: no-repeat, repeat;
  box-shadow: 0 0 1em var(--box-shadow-black);
  -webkit-animation: opacity 0.4s;
  animation: opacity 0.4s;
  opacity: 0.8;
}

#popup-container .popup:hover {
  opacity: 1;
  cursor: pointer;
}

.popup-error {
  background-image: url('/assets/img/cross.svg');
  background-color: #c0392b;
}

@-webkit-keyframes opacity {
  from {opacity: 0;}
  to {opacity: 0.8;}
}

@keyframes opacity {
  from {opacity: 0;}
  to {opacity: 0.8;}
}

.container {
  padding: 16px;
  background-color: #1e272e;
  margin: 50px auto 0 auto;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 1em #000;
}

h2 {
  text-align: center;
}

input[type=text],
input[type=password] {
  display: inline-block;
  width: 100%;
  margin: 6px 0px;
  padding: 12px 10px;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: 0; 
  border-radius: 4px;
}

input[type=submit] {
  background-color: #44bd32;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 5px;
}

input[type=submit]:hover {
  cursor: pointer;
}