%header%

<div class="content">
  <h3 style="padding-left: 20px;">Your Account was deleted by <span style=" color: #c0392b; font-weight: bold;">%deletedByUsername%</span></h3>

  <div class="message-container" style="border: 2px solid gray; margin: 20px 20px 10px 20px; padding: 15px;">
     <div class="title" style="margin: 0; color: rgb(146, 140, 140);">Username</div>
     <div class="content" style=" color: #44bd32; font-weight: bold;">%username%</div>
     <br>
     <div class="title" style="margin: 0; color: rgb(146, 140, 140);">Email</div>
     <div class="content" style=" color: #44bd32; font-weight: bold;">%email%</div>
     <br>
     <div class="title" style="margin: 0; color: rgb(146, 140, 140);">Date</div>
     <div class="content" style=" color: #44bd32; font-weight: bold;">%date%</div>
  </div>
</div>

%footer%