%header%

<div class="content">
  <h3 style="padding-left: 20px;">We Noticed a New Login, <span style=" color: #44bd32; font-weight: bold;">%username%</span></h3>

  <div class="message-container" style="border: 2px solid gray; margin: 20px 20px 10px 20px; padding: 15px;">
     <div class="title" style="margin: 0; color: rgb(146, 140, 140);">Browser</div>
     <div class="content" style=" color: #44bd32; font-weight: bold;">%browser%</div>
     <br>
     <div class="title" style="margin: 0; color: rgb(146, 140, 140);">Platform</div>
     <div class="content" style=" color: #44bd32; font-weight: bold;">%platform%</div>
     <br>
     <div class="title" style="margin: 0; color: rgb(146, 140, 140);">Date</div>
     <div class="content" style=" color: #44bd32; font-weight: bold;">%date%</div>
     <br>
     <div class="title" style="margin: 0; color: rgb(146, 140, 140);">IP</div>
     <div class="content" style=" color: #44bd32; font-weight: bold;">%ip%</div>
  </div>
</div>

%footer%