%header%

<div class="content">
  <h3 style="padding-left: 20px;">Your password has been changed</h3>

  <div class="message-container" style="border: 2px solid gray; margin: 20px 20px 10px 20px; padding: 15px;">
    <div class="title" style="margin: 0; color: rgb(146, 140, 140);">New password</div>
    <div class="content" style=" color: #44bd32; font-weight: bold;">%newPassword%</div>
  </div>

  <div class="login" style="padding: 0 20px 5px 20px;"> 
    <a href="https://%informationsDomain%/login" target="_blank" style=" text-decoration: none; color: #fff;"><button style="background-color: #44bd32; color: #fff; padding: 14px 20px; margin: 8px 0; border: none; font-weight: 900; text-decoration: none; text-transform: uppercase; border-radius: 5px; width: 100%; cursor: pointer;">Login</button></a>
  </div>
</div>

%footer%